body {
	background: #ffe0b5;
}

.drpList{
	padding: 10px;
}

h3 {
	padding-bottom: 20px;
}

.drpList * {
	margin: auto;
}

.container{
	display: flex;
	justify-content: space-around;
}

section{
	display: inline-flex;
	flex-direction: column;
}

.coatOfArms {
	height: 140px;
	width: 100px;
	margin-right:20px;
}

article {
	background:#eedaa8;	
	display: flex;
	padding: 15px;
	border-radius: 10px;
	flex-direction: column;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 25px;
}

.firstPart {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.middlify {
	display:flex;
	flex-direction: row;
	justify-content:space-around;
	margin-top: 15px;
	margin-bottom: 15px;
}

.middlify img{
	width: 30%;
}
